body{
    text-align: center;
    background-image: url("https://projects.codewizardshq.com/i_h33_devops_02/bg_mono.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #305E70;
    font-size: 80px;
    margin-top: 30px;
}

.content{
    background-color: rgba(225,225,245,0.6);
    font-size: 18px;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.back {
    border: 4px solid #589a98;
    background-color: lightblue;
    padding: 5px;
    margin: 20px;
    color: black;
    text-decoration: none;
}
.back:visited {
    color: black;
}
.back:hover{
    background-color: #335e6f;
    border: 4px solid #335e6f;
    color: white;
}